.buttonAllStyle {
    padding-top: 100px;
    padding-right: 20px;
    float: right;
}

.buttonStyle {
    margin-right: 15px;
    width: 130px;
   
}

.box {

    background-color: lightslategray;
    border-radius: 2px;
    width: 150px;
    height: 50px;
    text-align: center;
    margin-top: 100px;
    display: inline-block;
    
}

.row {
    display: inline-block;
    padding-top: 100px;
    margin: auto;
    float: left;
    padding-right: 20px;
    margin-left: 20px;    
}

.searchImg {
    width: 30px;
    height: 20px;
}

.sInput {
width: 20px;
height: 50px;
padding-right: 20px;
}

.sButton{
    width: 50px;
    height:57px;
}

.tableStyle {
    margin: 0 auto;
    padding-top: 50px;
    align-items: center;
}

.padding {
    padding-top: 50px;
}



.margin {
    padding-left: 10px;
    padding-right: 10px;
    display: inline-block;
}

.searcAll {
    display: inline-block;
    padding-top: 300px;
    float: left;
    padding-bottom: 50px;
}