/* .buttonAllStyle {
	padding-top: 100px;
	float: right;
	display: inline-block;
}

.buttonStyle {
	margin-right: 15px;
	width: 130px;
}

.box {
	background-color: lightslategray;
	border-radius: 2px;
	width: 150px;
	height: 50px;
	text-align: center;
	margin-top: 100px;
	display: inline-block;
}

.form {
	display: inline;
}

.row {
	display: inline-block;
	padding-top: 100px;
	margin: auto;
	float: left;
	padding-right: 20px;
	margin-left: 20px;
}

.searchImg {
	width: 30px;
	height: 20px;
}

.sInput {
	width: 20px;
	height: 50px;
	padding-right: 20px;
}

.sButton {
	width: 50px;
	height: 57px;
}

.tableStyle {
	position: absolute;
	padding-top: 600px;
	align-items: center;
}

.padding {
	padding-top: 50px;
}

.margin {
	padding-left: 50px;
	padding-right: 10px;
	display: inline-block;
}

.searcAll {
	display: inline-block;
	padding-top: 100px;
	padding-bottom: 200px;
}

.btn {
	margin: 10px;
}

.tableStyle {
	margin: 0 auto;
	align-items: center;
	margin-top: 400px;
}

.delBtn {
	float: right;
	width: 130px;
	display: inline;
}

.dd {
	display: inline;
}

.AllMenu {
	display: inline;
	position: absolute;
	margin-top: 200px;
	float: left;
	margin-left: 700px;
}

.ll {
	position: absolute;
	padding-top: 200px;
	padding-right: 20px;
	float: right;
}

.textR {
	text-align: right;
} */
